.summary-container{
    background-color: #faf9ff;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 18px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.286);

}
.summary-container {
    width: 100%;
    max-width: 650px;
    min-height: 600px;
    height: auto;
}
.summary-title{
    width: 100%;
    padding: 20px;
}
.summary-icon{
    width: 100%;
    display: flex;
    justify-content: center;
}
.summary-icon img{
    border-radius: 50%;
}
.icon-text{
    width: 100%;
    text-align: center;
    padding: 10px;
}
.provide-list{
    margin-top: 20px;
}
.list{
    display: flex;
    align-items: center;
    padding:4px ;
}
.list svg{
    margin-right: 5px;
}
.summary-icon img {
  width: 250px;
  max-width: 100%;
  height: auto;
}
.icon-text h1 {
  font-size: 2rem;
}

.report-card-container {
  display: flex;
  gap: 20px;
}

@media (max-width: 1024px) {
  .report-card-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .summary-container {
    width: 100%;
    min-height: auto;
    padding: 20px;
  }
}